@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: flex;
  width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Inter", sans-serif;
}

select {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1406px;
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #f4f0f0;
  padding-top: 5rem;
}

.sitenav {
  width: 100%;
  position: fixed;
  z-index: 9;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(10px);
}
.sitenav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  /* background-color: red; */
}

.sitenav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.sitenav__link {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #282828;
  position: relative;
  padding-bottom: 0.75rem;
  transition: 0.3s;
}

.sitenav__link::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #282828;
  width: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}
.sitenav__link:hover::before {
  width: 100%;
}

.icons {
  display: flex;
  gap: 2rem;
}
.icons span box-icon {
  transition: all 0.3s linear;
}
.icons span:hover box-icon {
  transform: scale(1.2);
}
.bar {
  font-size: 2rem;
  display: none;
}

/* hero section styles */
.hero {
  display: flex;
  align-items: center;
  padding-top: 5rem;
}
.hero__img {
  width: 73.6rem;

  margin-right: 4rem;
  object-fit: cover;
  transition: all 0.3s linear;
}
.hero__img:hover {
  transform: scale(0.9);
}
.hero__intro h6 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.6rem;
}

.hero__title {
  color: rgb(40, 40, 40);

  font-size: 5.4rem;
  font-weight: 600;
  line-height: 6.2rem;
  letter-spacing: -1px;
  text-align-last: left;
  margin: 8px 0;
}
.text {
  color: rgb(40, 40, 40);
  font-size: 1.8rem;

  line-height: 3rem;
  margin-bottom: 2.8rem;
}
.hero__btn {
  color: rgb(40, 40, 40);
  border-bottom: 2px solid rgb(40, 40, 40);
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: -0.4px;
  padding-bottom: 0.5rem;
}
.arrow {
  padding: 5px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s linear;
}
.arrow:nth-child(1) {
  margin-right: 1rem;
}
.arrow:hover {
  transform: rotate(360deg) scale(1.2);
}

/* hero section styles end */

/* brands section styles  */
.main {
}
.brands__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5.6rem 0;
  border-top: 2px solid #d0d5dd;
  border-bottom: 2px solid #d0d5dd;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.brands__img {
  display: flex;
  gap: 4.8rem;
}
.brands__img img {
  width: 12.3rem;
  /* height: 2.15rem; */
}
.brands .arrow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* brands section styles end */

/* bags section styles */
.bags {
  padding: 5.2rem 0;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  padding-bottom: 3.2rem;
  transition: all 0.3s linear;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.card img {
  margin-bottom: 1.6rem;
}
.card__text {
  font-size: 1.6rem;

  line-height: 2.6rem;
  margin-bottom: 2px;
}
.card__title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.8rem;
}
/* cards section styles end */

/* footer styles  */
.footer {
  background-color: #f4f0f0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 7rem 0;
  border-bottom: 2px solid #282828;
}
.footer__socials__wrapper img {
  width: 11.9rem;
  margin-bottom: 1.6rem;
}

.footer__intro {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 2.4rem;
  color: rgb(71, 84, 103);
}
.footer__socials {
  display: flex;
  gap: 1rem;
}
.footer__socials span {
  padding: 7px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.2s linear;
}
.footer__socials span:hover {
  transform: scale(1.1);
}

.footer__select {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  display: none;
}
.footer__select select {
  border: none;
  background: transparent;
  border-bottom: 2px solid #282828;
  padding-bottom: 8px;
  font-size: 1.5rem;
}
.footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 12rem;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer__link {
  color: rgb(95, 105, 128);
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.bottom__bar {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.design {
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.bottom__bar .footer__socials {
  display: none;
}
.language select {
  border: none;
  background-color: transparent;
  padding: 3px;
  font-size: 1.4rem;
}

/* footer styles end */

/* responsive */
@media (max-width: 1200px) {
  .sitenav {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .hero__img {
    width: 50%;
  }
  .bags {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cards {
    justify-content: center;
    gap: 3rem;
  }
  .brands__img {
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 800px) {
  .header {
    padding-top: 4rem;
  }
  .sitenav .icons {
    align-items: center;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }
  .hero__img {
    width: 90%;
    margin: 0 0 3rem 0;
  }

  .hero .arrow {
    display: none;
  }

  .hero__intro {
    width: 90%;
  }
  .sitenav__list {
    display: none;
  }
  .bar {
    display: block;
    font-size: 4rem;
  }

  .brands__container {
    gap: 5rem;
  }

  .cards .card {
    width: 90%;
  }

  .card__text {
    font-size: 2rem;
  }

  .card__title {
    font-size: 3rem;
  }
  .footer__wrapper {
    display: flex;
    gap: 10rem;
  }

  .footer__nav {
    display: none;
  }

  .footer__select {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .hero__img {
    margin-right: 0;
  }
  .icons {
    align-items: center;
  }
  .display__none {
    display: none;
  }

  .brands__container .arrow {
    display: none;
  }

  .footer {
    display: flex;
    flex-direction: column;
    /* margin-left: auto;
    margin-right: auto; */
  }
  .footer__wrapper {
    flex-direction: column;
    margin: 0;
  }
  .footer__socials {
    display: none;
  }
  .footer__socials span {
    background: none;
  }

  .bottom__bar {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .bottom__bar .footer__socials {
    display: block;
  }
}
